.ano-header {
  z-index: 5;

  position: sticky;
  top: 26px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 15px;

  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.ano-header-title {
  font-size: 25px;
  font-weight: 600;
}

.ano-header-column {
  width: 33%;
}

.ano-header-column:first-child {
  margin-right: auto;
}

.ano-header-column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.ano-header-column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ano-header-column:last-child i {
  margin-left: 30px;
}
