.main-screen-channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.main-screen-channel-header {
  margin-bottom: 25px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  color: var(--gray-text);
}
