.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 26px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

.screen-header-title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header-icons span {
  margin-left: 20px;
}
