.user-component,
.user-component-column:first-child {
  display: flex;
  align-items: center;
}

.user-component-avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component-avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component-title {
  font-size: 22px;
  font-weight: 600;
}

.user-component-subtitle {
  margin-top: 5px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.friend-screen {
  padding: 0px var(--horizontal-space);
}
