.user-component {
  justify-content: space-between;
}

.user-component,
.user-component-column:first-child {
  display: flex;
  align-items: center;
}

.user-component-avatar {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 20px;
}
.user-component-avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component-avatar--sm {
  width: 60px;
  height: 60px;
}

.user-component-title {
  font-size: 22px;
  font-weight: 600;
}

.user-component-title--not-bold {
  font-weight: 400;
}

.user-component-subtitle {
  margin-top: 5px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component-column:last-child {
  color: rgba(0, 0, 0, 0.5);
}
